<div class="example-block">
  {% if title %}
    <h2 class="example-block__title">{{ title }}</h2>
  {% endif %}

  {% set body_markup %}
    {% if body_paragraphs %}
      {% for paragraph in body_paragraphs %}
        <p class="example-block__paragraph">{{ paragraph|raw }}</p>
      {% endfor %}
    {% elseif body is defined and (body['#type'] is defined or body['#markup'] is defined) %}
      {{ body }}
    {% elseif body %}
      {{ body|raw }}
    {% endif %}
  {% endset %}

  {% if body_markup is not empty %}
    <div class="example-block__body">{{ body_markup|raw }}</div>
  {% endif %}

  {% if link %}
    <p class="example-block__cta">
      <a class="example-block__link" href="{{ link.url }}">{{ link.title }}</a>
    </p>
  {% endif %}

  {% if highlights %}
    <dl class="example-block__highlights">
      {% for highlight in highlights %}
        <div class="example-block__highlight">
          <dt class="example-block__highlight-label">{{ highlight.label }}</dt>
          <dd class="example-block__highlight-value">{{ highlight.value }}</dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}
</div>
