<div class="card-container h-100">
    <div class="card card-2" data-bs-theme="dark">
        {% if image %}
            <div class="card-bg-img">
                {% include '../../../atoms/Image/Image.twig'  with {
                    image: image,
                    background: true,
                } %}
            </div>
        {% endif %}

            <div class="card-wrapper">

                <div class="card-body">
                    {% if cardIcon and not cardIconInline %}<i class="bx bx-md {{ cardIcon }}"></i>{% endif %}
                    {% if cardEyebrow %}<p class="eyebrow">{{ cardEyebrow }}</p>{% endif %}
                    {% if cardUrl not ctas %}<a href="{{ cardUrl }}" class="stretched-link">{% endif %}
                        <h3 class="card-title {{ cardHeadingSize }}">{{ cardHeading }}</h3>
                        {% if cardUrl not ctas %}</a>{% endif %}
                    <p class="card-subtitle text-md">{{ cardSubHeading }}</p>
                    <div class="card-text">{{ cardText }}</div>
                </div>
                {% if ctas %}
                    <div class="card-footer">
                        <!-- CTA Group -->
                        <div class="content-ctas">
                            {% include '../../../molecules/CTA-Group/CTA-Group.twig' with {ctas: ctas } %}
                        </div>
                    </div>
                {% endif %}

            </div>
    </div>
</div>