<div class="form-floating">
    <input type="{{type}}" class="form-control" id="{{ inputId }}" placeholder="{{ placeholder }}" {%  if disabled %} disabled {% endif %}>
    <label for="{{ inputId }}">{{label}}</label>
    <div class="invalid-feedback">
        {{invalidText}}
    </div>
</div>